In [102]:
# Libraries

import pandas as pd
from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
from selenium.common.exceptions import NoSuchElementException
from random import randint
from time import sleep 


def check_exists_by_xpath(xpath):
    try:
        driver.find_element_by_xpath(xpath)
    except NoSuchElementException:
        return False
    return True

In [103]:
# Setting up the Chrome webdriver

options = webdriver.ChromeOptions()
#options.add_argument('--headless') #uncomment to not render driven browser during scrapping

options.binary_location = "/usr/bin/google-chrome"
chrome_driver_binary = "/usr/local/bin/chromedriver"
#options.binary_location = "C:/Program Files (x86)/Google/Chrome/Application/chrome.exe"
#chrome_driver_binary = "C:/Users/Alek/chromedriver"
driver = webdriver.Chrome(chrome_driver_binary, chrome_options=options)

/home/ravisolter/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:10: DeprecationWarning: use options instead of chrome_options
  # Remove the CWD from sys.path while we load stuff.

### Reading in Users' names

In [108]:
users = pd.read_fwf('test_users.txt')
users = users.iloc[:, 0]

def url_blank_fix(string):
    return string.replace(' ','%2520')

def remove_quotes(string): 
    return string[1:(len(string)-1)]

users = users.apply(remove_quotes)

users

0                  Marcello
1                       Bob
2            Giorgia Palmas
3                     tempo
4                    italia
               ...
3784     jamaican juventino
3785    snape's greasy hair
3786                  DanyC
3787               maxnucci
3788            Thiago6Time
Name: "x", Length: 3789, dtype: object

In [117]:

user_join_dates = pd.DataFrame()


for i in range(0,len(users)):
        
    print(str(i)+' of '+str(len(users)))

    
    # Replacing any blanks with '%2520' for URL
    users[i] = url_blank_fix(users[i])

    # Go to user profile
    driver.get('https://www.sbnation.com/users/'+users[i])
    
    sleep(2)

    if check_exists_by_xpath('/html/body/div[2]/div[3]/div/div/section/div[2]/ul'):
        join_date = driver.find_element_by_xpath('/html/body/div[2]/div[3]/div/div/section/div[2]/ul')
        
        # Export text
        join_date = join_date.text

        # Sub_String
        join_date_start = 8
        join_date_end = join_date.find('Last')-1

        join_date_out = join_date[join_date_start:join_date_end]
        
        user_data = pd.DataFrame([users[i],join_date_out])
        
    else:
        user_data = pd.DataFrame([users[i],None])
        
        
        
    user_join_dates = pd.concat([user_join_dates,user_data.T])
        
    ;
    
        
user_join_dates.columns = ['User','Join Date']

1 of 3789
2 of 3789
3 of 3789
4 of 3789

In [113]:
user_join_dates.head()

                 User     Join Date
0                 Bob  Feb 24, 2008
0  Giorgia%2520Palmas          None
0               tempo  Sep 23, 2010
0              italia  May 11, 2009